flows/CheckIn_Flows_For_Account.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Calculate_Distance</name>
        <label>Calculate Distance</label>
        <locationX>780</locationX>
        <locationY>539</locationY>
        <actionName>CheckIn_CMV:calculateGeoDistance</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Get_Last_Visit</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fromLat</name>
            <value>
                <elementReference>Get_Current_Location.latitude</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fromLong</name>
            <value>
                <elementReference>Get_Current_Location.longitude</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>toLat</name>
            <value>
                <elementReference>Get_Account_Again.Work_Location__Latitude__s</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>toLong</name>
            <value>
                <elementReference>Get_Account_Again.Work_Location__Longitude__s</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CheckIn_CMV:calculateGeoDistance</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Get_Current_Location</name>
        <label>Get Current Location</label>
        <locationX>647</locationX>
        <locationY>526</locationY>
        <actionName>CheckIn_CMV:getCurrentLocation</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Check_for_Update_Value</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>CheckIn_CMV:getCurrentLocation</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Show_Non_Compliance_Toast</name>
        <label>Show Non-Compliance Toast</label>
        <locationX>1913</locationX>
        <locationY>406</locationY>
        <actionName>CheckIn_CMV:showToast</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Screen1</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>duration</name>
            <value>
                <numberValue>5000.0</numberValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Distance Non-Compliant: you are further away than the maximum allowed distance</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>dismissable</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <nameSegment>CheckIn_CMV:showToast</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Show_Success_Toast</name>
        <label>Show Success Toast</label>
        <locationX>1641</locationX>
        <locationY>1424</locationY>
        <actionName>CheckIn_CMV:showToast</actionName>
        <actionType>component</actionType>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>duration</name>
            <value>
                <numberValue>5000.0</numberValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Operation executed successfuly!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>dismissable</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <nameSegment>CheckIn_CMV:showToast</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_is_Check_In_Var</name>
        <label>Set is Check In Var</label>
        <locationX>1447</locationX>
        <locationY>587</locationY>
        <assignmentItems>
            <assignToReference>isCheckIn</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen1</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Enforce_Compliance</name>
        <label>Check Enforce Compliance</label>
        <locationX>1903</locationX>
        <locationY>636</locationY>
        <defaultConnector>
            <targetReference>Check_If_it_is_Compliance_Or_Not</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Allow Check In</defaultConnectorLabel>
        <rules>
            <name>Enforce_Compliance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Visit_Default_Settings.CheckIn_CMV__Allow_Non_compliant_Visits__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isDistanceCompliant</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Show_Non_Compliance_Toast</targetReference>
            </connector>
            <label>Enforce Compliance</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Update_Value</name>
        <label>Check for Update Value</label>
        <locationX>698</locationX>
        <locationY>102</locationY>
        <defaultConnector>
            <targetReference>Get_Account_Again</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Want_to_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Continue_with_GeoLocation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Geolocation_Value</targetReference>
            </connector>
            <label>If Want to Update</label>
        </rules>
        <rules>
            <name>Checkbox_is_Unchecked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Continue_with_GeoLocation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Last_Visit</targetReference>
            </connector>
            <label>Checkbox is Unchecked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Geolocation_Value</name>
        <label>Check Geolocation Value</label>
        <locationX>497</locationX>
        <locationY>399</locationY>
        <defaultConnector>
            <targetReference>Get_Current_Location</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordLatitude</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordLongitude</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Warning_Message_Alert</targetReference>
            </connector>
            <label>If Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_it_is_Compliance_Or_Not</name>
        <label>Check If it is Compliance Or Not</label>
        <locationX>1490</locationX>
        <locationY>850</locationY>
        <defaultConnector>
            <targetReference>Create_Visit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Continue_with_GeoLocation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Visit_for_Noncompliance</targetReference>
            </connector>
            <label>If True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_In_or_Check_Out</name>
        <label>Check In or Check Out</label>
        <locationX>1237</locationX>
        <locationY>453</locationY>
        <defaultConnector>
            <targetReference>Screen1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Check Out</defaultConnectorLabel>
        <rules>
            <name>Is_Check_In</name>
            <conditionLogic>1 OR (2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Last_Visit</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Last_Visit</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Last_Visit.CheckIn_CMV__Check_out_Date_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_is_Check_In_Var</targetReference>
            </connector>
            <label>Is Check In</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>isDistanceCompliant</name>
        <dataType>Boolean</dataType>
        <expression>{!calculatedDistance} &lt;= {!Get_Visit_Default_Settings.CheckIn_CMV__Max_Distance__c}</expression>
    </formulas>
    <interviewLabel>CheckIn Flows For Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CheckIn Flows For Account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Visit</name>
        <label>Create Visit</label>
        <locationX>1666</locationX>
        <locationY>1149</locationY>
        <assignRecordIdToReference>visitId</assignRecordIdToReference>
        <connector>
            <targetReference>Show_Success_Toast</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>CheckIn_CMV__Account__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CheckIn_CMV__Check_in_Comments__c</field>
            <value>
                <elementReference>Additional_Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CheckIn_CMV__Check_in_Coordinates__Latitude__s</field>
            <value>
                <elementReference>Get_Current_Location.latitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CheckIn_CMV__Check_in_Coordinates__Longitude__s</field>
            <value>
                <elementReference>Get_Current_Location.longitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CheckIn_CMV__Check_in_Date_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CheckIn_CMV__Check_in_Distance__c</field>
            <value>
                <elementReference>calculatedDistance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CheckIn_CMV__Check_in_Max_Distance_Compliance__c</field>
            <value>
                <elementReference>Get_Visit_Default_Settings.CheckIn_CMV__Max_Distance__c</elementReference>
            </value>
        </inputAssignments>
        <object>CheckIn_CMV__Visit__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Visit_for_Noncompliance</name>
        <label>Create Visit for Noncompliance</label>
        <locationX>1451</locationX>
        <locationY>1050</locationY>
        <assignRecordIdToReference>visitId</assignRecordIdToReference>
        <connector>
            <targetReference>Show_Success_Toast</targetReference>
        </connector>
        <inputAssignments>
            <field>CheckIn_CMV__Account__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CheckIn_CMV__Check_in_Comments__c</field>
            <value>
                <elementReference>Additional_Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CheckIn_CMV__Check_in_Coordinates__Latitude__s</field>
            <value>
                <elementReference>Get_Current_Location.latitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CheckIn_CMV__Check_in_Coordinates__Longitude__s</field>
            <value>
                <elementReference>Get_Current_Location.longitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CheckIn_CMV__Check_in_Date_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CheckIn_CMV__Check_in_Distance__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CheckIn_CMV__Check_in_Max_Distance_Compliance__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>CheckIn_CMV__Visit__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>404</locationX>
        <locationY>230</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Geolocation_Value</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>recordCity</assignToReference>
            <field>BillingCity</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>recordCountry</assignToReference>
            <field>BillingCountry</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>recordPostalCode</assignToReference>
            <field>BillingPostalCode</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>recordState</assignToReference>
            <field>BillingState</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>recordStreet</assignToReference>
            <field>BillingStreet</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>recordName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>recordLatitude</assignToReference>
            <field>Work_Location__Latitude__s</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>recordLongitude</assignToReference>
            <field>Work_Location__Longitude__s</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_Again</name>
        <label>Get Account Again</label>
        <locationX>781</locationX>
        <locationY>391</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Calculate_Distance</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Last_Visit</name>
        <label>Get Last Visit</label>
        <locationX>931</locationX>
        <locationY>457</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Visit_Default_Settings</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CheckIn_CMV__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>CheckIn_CMV__Check_out_Coordinates__Latitude__s</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CheckIn_CMV__Visit__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Visit_Default_Settings</name>
        <label>Get Visit Default Settings</label>
        <locationX>1111</locationX>
        <locationY>473</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_In_or_Check_Out</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Default</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CheckIn_CMV__Visit_Compliance__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Geolocation_Value</name>
        <label>Update Geolocation Value</label>
        <locationX>843</locationX>
        <locationY>264</locationY>
        <connector>
            <targetReference>Get_Account_Again</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Work_Location__Latitude__s</field>
            <value>
                <elementReference>Get_Current_Location.latitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Location__Longitude__s</field>
            <value>
                <elementReference>Get_Current_Location.longitude</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>817</locationX>
        <locationY>1008</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>displayError</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(255, 0, 0); font-size: 16px;&quot;&gt;An error has ocurred.&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255); font-size: 12px; font-family: Arial, Helvetica, sans-serif;&quot;&gt;Contact your Salesforce administrator with the following error message:&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen1</name>
        <label>Screen1</label>
        <locationX>1712</locationX>
        <locationY>535</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Enforce_Compliance</targetReference>
        </connector>
        <fields>
            <name>isCheckInMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;You are checking in&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Distance</name>
            <fieldText>&lt;p&gt;Distance: &lt;b&gt;{!Calculate_Distance.distance}&lt;/b&gt; km.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>nonCompliant</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(255, 0, 0);&quot;&gt;NON-COMPLIANT&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>isDistanceCompliant</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Continue_with_GeoLocation</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Additional_Comments</name>
            <fieldText>Additional Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>checkIn</name>
            <extensionName>CheckIn_CMV:checkIn</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectCity</name>
                <value>
                    <elementReference>recordCity</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectCountry</name>
                <value>
                    <elementReference>recordCountry</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <elementReference>recordName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectPostalCode</name>
                <value>
                    <elementReference>recordPostalCode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectState</name>
                <value>
                    <elementReference>recordState</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectStreet</name>
                <value>
                    <elementReference>recordStreet</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>userLatitude</name>
                <value>
                    <elementReference>Get_Current_Location.latitude</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>userLongitude</name>
                <value>
                    <elementReference>Get_Current_Location.longitude</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Warning_Message_Alert</name>
        <label>Warning Message Alert</label>
        <locationX>582</locationX>
        <locationY>207</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Current_Location</targetReference>
        </connector>
        <fields>
            <name>Message_Alert</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-family: Roboto, arial, sans-serif; color: rgb(244, 13, 13);&quot;&gt;This Account Has No Geo-location Value.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-family: Roboto, arial, sans-serif; color: rgb(244, 13, 13);&quot;&gt;We Are Going to Update This Geo-location Value with Your Current Location.&lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-family: Roboto, arial, sans-serif; color: rgb(237, 12, 12);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Continue_with_GeoLocation</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Continue with GeoLocation</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <sourceTemplate>CheckIn_CMV__Check_In</sourceTemplate>
    <start>
        <locationX>12</locationX>
        <locationY>33</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>calculatedDistance</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>3</scale>
        <value>
            <elementReference>Calculate_Distance.distance</elementReference>
        </value>
    </variables>
    <variables>
        <name>indirectRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isCheckIn</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ObjectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordLatitude</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>15</scale>
    </variables>
    <variables>
        <name>recordLongitude</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>15</scale>
    </variables>
    <variables>
        <name>recordName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordPostalCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>visitId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
