flows/Tour_Plan_Details_For_Approval_Purpose.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Approve_Or_Reject</name>
        <label>Assign Approve Or Reject</label>
        <locationX>1209</locationX>
        <locationY>51</locationY>
        <assignmentItems>
            <assignToReference>ApproveVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Tour_Plan</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Reject</name>
        <label>Assign Reject</label>
        <locationX>1028</locationX>
        <locationY>298</locationY>
        <assignmentItems>
            <assignToReference>ApproveVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Tour_Plan</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Tour_Plan_Id</name>
        <label>Assign Tour Plan Id</label>
        <locationX>585</locationX>
        <locationY>216</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Tour_Plan_Details</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Choice_approve</name>
        <choiceText>&lt;strong style=&quot;font-size: 16px; color: rgb(85, 157, 17); background-color: rgb(255, 255, 255);&quot;&gt;Approve&lt;/strong&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Approve</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_reject</name>
        <choiceText>&lt;strong style=&quot;color: rgb(234, 14, 14); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;Reject&lt;/strong&gt;&lt;strong style=&quot;color: rgb(208, 33, 33); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;﻿&lt;/strong&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Reject﻿</stringValue>
        </value>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Approval_Process</name>
        <label>Approval Process</label>
        <locationX>965</locationX>
        <locationY>118</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Approve</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Approve_or_Reject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choice_approve</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Approve_Or_Reject</targetReference>
            </connector>
            <label>Approve</label>
        </rules>
        <rules>
            <name>Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Approve_or_Reject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choice_reject</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Reject</targetReference>
            </connector>
            <label>Rejected</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Tour Plan Details For Approval Purpose {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Tour Plan Details For Approval Purpose</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_Tour_Plan</name>
        <label>Update Tour Plan</label>
        <locationX>1186</locationX>
        <locationY>284</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentRecord</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Approval_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approval_Status__c</field>
            <value>
                <elementReference>ApproveVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_for_Cancellation__c</field>
            <value>
                <elementReference>Reason_For_Reject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserSH__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Tour_Plans__c</object>
    </recordUpdates>
    <screens>
        <name>Tour_Plan_Details</name>
        <label>Tour Plan Details</label>
        <locationX>827</locationX>
        <locationY>216</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Approval_Process</targetReference>
        </connector>
        <fields>
            <name>Tour_Plan_Details_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Tour_Plan_Details_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Approve_or_Reject</name>
                    <choiceReferences>Choice_approve</choiceReferences>
                    <choiceReferences>Choice_reject</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Approve or Reject</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Tour_Plan_Details_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Tour_Plan_Details_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Reason_For_Reject</name>
                    <fieldText>Reason For Reject</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Approve_or_Reject</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Choice_reject</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>490</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Assign_Tour_Plan_Id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ApproveVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
