flows/Tour_Plan_Visit.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Navigate_to_Tour_Record</name>
        <label>Navigate to Tour Record</label>
        <locationX>493</locationX>
        <locationY>2940</locationY>
        <actionName>CheckIn_CMV:navigatoToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>TP_Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CheckIn_CMV:navigatoToRecord</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Acc_For_Visit</name>
        <label>Assign Acc For Visit</label>
        <locationX>1139</locationX>
        <locationY>1775</locationY>
        <assignmentItems>
            <assignToReference>StoreAccount.CheckIn_CMV__Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StoreAccount.CheckIn_CMV__Check_in_Distance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StoreAccount.CheckIn_CMV__Check_in_Max_Distance_Compliance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StoreAccount.Planned_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Visit_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StoreAccount.Visit_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Planned</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StoreAccount.Tour_Plans__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TP_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StoreAccount.Purpose_of_Visit_Fill_before_Tour__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Assign_All_Account.Purpose_Of_Visit</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StoreAccount.CheckIn_CMV__Lead__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Assign_All_Account.Select_Lead</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StoreAllAccount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>StoreAccount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_All_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_AllLead_Collection_Variable</name>
        <label>Clear AllLead Collection Variable</label>
        <locationX>945</locationX>
        <locationY>1608</locationY>
        <assignmentItems>
            <assignToReference>StoreAllAccount</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>StoreAllAccount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_All_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count</name>
        <label>Count</label>
        <locationX>809</locationX>
        <locationY>2294</locationY>
        <assignmentItems>
            <assignToReference>CountVisit</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Date_Assign</name>
        <label>Date Assign</label>
        <locationX>674</locationX>
        <locationY>524</locationY>
        <assignmentItems>
            <assignToReference>S_Date</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Start_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>E_Date</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>End_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_approval</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_User_Id</name>
        <label>Get User Id</label>
        <locationX>512</locationX>
        <locationY>182</locationY>
        <assignmentItems>
            <assignToReference>User_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Tour_Plan</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Add_Visit</name>
        <choiceText>&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(20, 113, 137); font-size: 16px;&quot;&gt;Add Visit&lt;/strong&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add Visit</stringValue>
        </value>
    </choices>
    <choices>
        <name>Create_A_New_Lead</name>
        <choiceText>&lt;strong style=&quot;color: rgb(27, 30, 31); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Create A New Lead&lt;/strong&gt;&lt;strong style=&quot;color: rgb(37, 40, 41); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;﻿&lt;/strong&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>+ Create A New Lead</stringValue>
        </value>
    </choices>
    <choices>
        <name>CreateNewAccount</name>
        <choiceIcon>
            <iconName>standard:account_info</iconName>
        </choiceIcon>
        <choiceText>&lt;strong&gt;Create New Account&lt;/strong&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CreateNewAccount</stringValue>
        </value>
    </choices>
    <choices>
        <name>Finish</name>
        <choiceText>&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(20, 113, 137); font-size: 16px;&quot;&gt;Finish&lt;/strong&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Finish</stringValue>
        </value>
    </choices>
    <choices>
        <description>Lead</description>
        <name>Lead</name>
        <choiceText>&lt;strong style=&quot;font-size: 14px; color: rgb(68, 74, 85);&quot;&gt;Lead&lt;/strong&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Lead</stringValue>
        </value>
    </choices>
    <choices>
        <name>SelectAccount</name>
        <choiceIcon>
            <iconName>standard:account</iconName>
        </choiceIcon>
        <choiceText>&lt;strong&gt;Account&lt;/strong&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Account</stringValue>
        </value>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Decision_Add_Or_Finish_For_Acc</name>
        <label>Decision Add Or Finish For Acc</label>
        <locationX>969</locationX>
        <locationY>2098</locationY>
        <defaultConnector>
            <targetReference>Finish1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Add_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Add_Visit</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Count</targetReference>
            </connector>
            <label>If Add Lead</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Count_Greater_Than_zero</name>
        <label>Decision Count Greater Than zero</label>
        <locationX>933</locationX>
        <locationY>1411</locationY>
        <defaultConnector>
            <targetReference>Create_Tour_Plan_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Count_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountVisit</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_AllLead_Collection_Variable</targetReference>
            </connector>
            <label>If Count &gt; 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_For_Scouting_Check</name>
        <label>Decision For Scouting Check</label>
        <locationX>512</locationX>
        <locationY>938</locationY>
        <defaultConnector>
            <targetReference>Select_Option_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Scouting</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Scouting_Only</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Tour_Plan</targetReference>
            </connector>
            <label>If Scouting</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_For_Visit_Type</name>
        <label>Decision For Visit Type</label>
        <locationX>1082</locationX>
        <locationY>920</locationY>
        <defaultConnector>
            <targetReference>Create_Visit_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>If Create Visit For Account</defaultConnectorLabel>
        <rules>
            <name>If_Create_a_New_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_an_Option</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Create_A_New_Lead</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tour_plan_visit</targetReference>
            </connector>
            <label>If Create a New Account</label>
        </rules>
    </decisions>
    <description>Account filter by Doctor record type</description>
    <dynamicChoiceSets>
        <name>GetLead</name>
        <collectionReference>Get_Lead</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Lead</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Leadstatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Patient_Type_Choice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Patient_Type__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Tour Plan Visit {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Tour Plan Visit</label>
    <loops>
        <name>Assign_All_Account</name>
        <label>Assign All Account</label>
        <locationX>946</locationX>
        <locationY>1773</locationY>
        <collectionReference>Repeater.AllItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Acc_For_Visit</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Visit_For_Acc</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_lead_status</name>
        <label>create lead status</label>
        <locationX>886</locationX>
        <locationY>683</locationY>
        <connector>
            <targetReference>Get_Lead</targetReference>
        </connector>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Patient_Type__c</field>
            <value>
                <elementReference>Patient_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>PatientRecordTypeid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Tour_Plan</name>
        <label>Create Tour Plan</label>
        <locationX>281</locationX>
        <locationY>1046</locationY>
        <assignRecordIdToReference>TP_Id</assignRecordIdToReference>
        <connector>
            <targetReference>Finish1</targetReference>
        </connector>
        <inputAssignments>
            <field>Approval_Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>End_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>User_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>Start_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserSH__c</field>
            <value>
                <elementReference>Approver</elementReference>
            </value>
        </inputAssignments>
        <object>Tour_Plans__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Tour_Plan_0</name>
        <label>Create Tour Plan</label>
        <locationX>1158</locationX>
        <locationY>1374</locationY>
        <assignRecordIdToReference>TP_Id</assignRecordIdToReference>
        <connector>
            <targetReference>Clear_AllLead_Collection_Variable</targetReference>
        </connector>
        <inputAssignments>
            <field>Approval_Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>End_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>User_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>Start_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserSH__c</field>
            <value>
                <elementReference>Approver</elementReference>
            </value>
        </inputAssignments>
        <object>Tour_Plans__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Visit_For_Acc</name>
        <label>Create Visit For Acc</label>
        <locationX>950</locationX>
        <locationY>1966</locationY>
        <connector>
            <targetReference>Decision_Add_Or_Finish_For_Acc</targetReference>
        </connector>
        <inputReference>StoreAllAccount</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_Record_Type</name>
        <label>Get  Account Record Type</label>
        <locationX>513</locationX>
        <locationY>522</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Date_Assign</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Doctors</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_approval</name>
        <label>get approval</label>
        <locationX>503</locationX>
        <locationY>670</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>User_Id</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>Approver</assignToReference>
            <field>DelegatedApproverId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Approver</name>
        <label>Get Approver</label>
        <locationX>512</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>User_Id</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>Approver</assignToReference>
            <field>ManagerId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Lead</name>
        <label>Get Lead</label>
        <locationX>476</locationX>
        <locationY>814</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_For_Scouting_Check</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Lead</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Create_Visit_Screen</name>
        <label>Create Visit Screen</label>
        <locationX>1173</locationX>
        <locationY>1196</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Decision_Count_Greater_Than_zero</targetReference>
        </connector>
        <fields>
            <name>Create_Visit_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Create_Visit_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DT1</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(36, 18, 234); background-color: rgb(255, 255, 255);&quot;&gt;Start Date :&lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt; &lt;/span&gt;&lt;strong style=&quot;color: rgb(40, 37, 37); background-color: rgb(255, 255, 255);&quot;&gt;{!Start_Date}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Create_Visit_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DT2</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(39, 17, 231); background-color: rgb(255, 255, 255);&quot;&gt;End Date :&lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt; &lt;/span&gt;&lt;strong style=&quot;color: rgb(37, 33, 33); background-color: rgb(255, 255, 255);&quot;&gt;{!End_Date}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Visit_Date</name>
            <dataType>Date</dataType>
            <fieldText>Visit Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(244, 28, 168);&quot;&gt;Tour Date should be between Start Date and End Date&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Visit_Date} &gt;= {!Start_Date} &amp;&amp;
{!Visit_Date} &lt;= {!End_Date}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Repeater</name>
            <fieldType>Repeater</fieldType>
            <fields>
                <name>Select_Lead</name>
                <choiceReferences>GetLead</choiceReferences>
                <dataType>String</dataType>
                <fieldText>Select Lead</fieldText>
                <fieldType>DropdownBox</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>Purpose_Of_Visit</name>
                <fieldText>Purpose Of Visit</fieldText>
                <fieldType>LargeTextArea</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Select</name>
            <choiceReferences>Add_Visit</choiceReferences>
            <choiceReferences>Finish</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Finish1</name>
        <label>Finish</label>
        <locationX>512</locationX>
        <locationY>2720</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Navigate_to_Tour_Record</targetReference>
        </connector>
        <fields>
            <name>DisplayMessege</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-family: verdana; color: rgb(79, 137, 45); font-size: 18px;&quot;&gt;Tour Plan Created&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-family: verdana; color: rgb(79, 137, 45); font-size: 18px;&quot;&gt;Successfully.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Option_Screen</name>
        <label>Select Option Screen</label>
        <locationX>832</locationX>
        <locationY>961</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Decision_For_Visit_Type</targetReference>
        </connector>
        <fields>
            <name>Select_Option_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Select_Option_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SDate</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(21, 10, 221); background-color: rgb(255, 255, 255);&quot;&gt;Start Date :&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt; &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(44, 37, 37);&quot;&gt;{!Start_Date}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Select_Option_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>EDate</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(27, 17, 211); background-color: rgb(255, 255, 255);&quot;&gt;End Date :&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt; &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(31, 24, 24);&quot;&gt;{!End_Date}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Select_an_Option</name>
            <choiceReferences>Lead</choiceReferences>
            <choiceReferences>Create_A_New_Lead</choiceReferences>
            <choiceReferences>SelectAccount</choiceReferences>
            <choiceReferences>CreateNewAccount</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select an Option</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Tour_Plan</name>
        <label>Tour Plan</label>
        <locationX>512</locationX>
        <locationY>290</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Approver</targetReference>
        </connector>
        <fields>
            <name>Tour</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 26px; background-color: rgb(255, 255, 255);&quot;&gt;Tour Plan Visit&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Tour_Plan_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Tour_Plan_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Start_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Start Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>End_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>End Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Scouting_Only</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Scouting Only</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Tour_plan_visit</name>
        <label>Tour Plan Visit</label>
        <locationX>1117</locationX>
        <locationY>693</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>create_lead_status</targetReference>
        </connector>
        <fields>
            <name>Tour_plan_visit_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Tour_plan_visit_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>First_Name</name>
                    <dataType>String</dataType>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Tour_plan_visit_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Last_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Patient_Type</name>
            <choiceReferences>Patient_Type_Choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Patient Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>386</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_User_Id</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>Approver</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CountVisit</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>E_Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PatientRecordTypeid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0125j000000bZZbAAM</stringValue>
        </value>
    </variables>
    <variables>
        <name>S_Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StoreAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CheckIn_CMV__Visit__c</objectType>
    </variables>
    <variables>
        <name>StoreAllAccount</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CheckIn_CMV__Visit__c</objectType>
    </variables>
    <variables>
        <name>TP_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>User_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAccountRecordType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
