flows/Visit_For_Tour_Plan.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Current_Location</name>
        <label>Get Current Location</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>CheckIn_CMV:getCurrentLocation</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Check_For_Update</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>CheckIn_CMV:getCurrentLocation</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Navigate_to_Visit_Record</name>
        <label>Navigate to Visit Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>CheckIn_CMV:navigatoToRecord</actionName>
        <actionType>component</actionType>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>visitId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CheckIn_CMV:navigatoToRecord</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Show_Non_Compliance_Toast</name>
        <label>Show Non-Compliance Toast</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>CheckIn_CMV:showToast</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Screen_For_Non_Compliance</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Distance Non-Compliant: you are further away than the maximum allowed distance</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>duration</name>
            <value>
                <numberValue>5000.0</numberValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>dismissable</stringValue>
            </value>
        </inputParameters>
        <nameSegment>CheckIn_CMV:showToast</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Distance</name>
        <label>Assign Distance</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varDistance</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>calculateDistance</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Last_Visit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Visit_Id</name>
        <label>Assign Visit Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>visitId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Last_Visit.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Navigation_to_Visit_Settings</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Last_Visit_Field</name>
        <label>Update Last Visit Field</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Get_Last_Visit.CheckIn_CMV__Check_in_Coordinates__Latitude__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Location.latitude</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Last_Visit.CheckIn_CMV__Check_in_Coordinates__Longitude__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Location.longitude</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Last_Visit.CheckIn_CMV__Check_in_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Last_Visit.CheckIn_CMV__Check_in_Distance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varDistance</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Last_Visit.Outcome_of_Visit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FormulaForComment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Last_Visit.CheckIn_CMV__Check_out_Coordinates__Latitude__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FormulaForLatitude</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Last_Visit.CheckIn_CMV__Check_out_Coordinates__Longitude__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FormulaForLongitude</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Last_Visit_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Last_Visit_Field_For_No_Location_Update</name>
        <label>Update Last Visit Field For No Location Update</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Get_Last_Visit.CheckIn_CMV__Check_in_Coordinates__Latitude__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Location.latitude</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Last_Visit.CheckIn_CMV__Check_in_Coordinates__Longitude__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Location.longitude</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Last_Visit.CheckIn_CMV__Check_in_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Last_Visit.CheckIn_CMV__Check_in_Distance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Last_Visit.CheckIn_CMV__Check_in_Max_Distance_Compliance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Last_Visit.Outcome_of_Visit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FormulaForComment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Last_Visit.CheckIn_CMV__Check_out_Coordinates__Latitude__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FormulaForLatitude</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Last_Visit.CheckIn_CMV__Check_out_Coordinates__Longitude__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FormulaForLongitude</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Last_Visit_Record</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Check_Enforce_Compliance</name>
        <label>Check Enforce Compliance</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Compliance_Checkbox</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Allow Check In</defaultConnectorLabel>
        <rules>
            <name>Enforce_Compliance</name>
            <conditionLogic>(1 AND 2) OR 3</conditionLogic>
            <conditions>
                <leftValueReference>Get_Visit_Default_Settings.CheckIn_CMV__Allow_Non_compliant_Visits__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isDistanceCompliant</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Continue_With_Geo_Location_Update</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Show_Non_Compliance_Toast</targetReference>
            </connector>
            <label>Enforce Compliance</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_For_Check_In_Screen</name>
        <label>Check For Check In Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Screen1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_in_for_non_complaince</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Continue_With_Geo_Location_Update</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Enforce_Compliance</targetReference>
            </connector>
            <label>Check in for non complaince</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_For_Update</name>
        <label>Check For Update</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Acc_Again</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>want_to_update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Continue_With_Geo_Location_Update</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account</targetReference>
            </connector>
            <label>want to update</label>
        </rules>
        <rules>
            <name>Checkbox_Is_UnChecked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Continue_With_Geo_Location_Update</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Last_Visit</targetReference>
            </connector>
            <label>Checkbox Is UnChecked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Geo_location_Value_is_Blank_or_not</name>
        <label>Check Geo location Value is Blank or not</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Current_Location</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordLatitude</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordLongitude</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Warning_Messege</targetReference>
            </connector>
            <label>If Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Navigation_to_Visit_Settings</name>
        <label>Check Navigation to Visit Settings</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>End Flow</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Visit_Default_Settings.CheckIn_CMV__Navigate_to_Visit_on_Check_In__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isCheckIn</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Visit_Default_Settings.CheckIn_CMV__Navigate_to_Visit_on_Check_Out__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isCheckIn</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Navigate_to_Visit_Record</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Compliance_Checkbox</name>
        <label>Compliance Checkbox</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Create_Visit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_Visit_when_no_visit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Continue_With_Geo_Location_Update</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Last_Visit.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Visit_Record</targetReference>
            </connector>
            <label>Create Visit when no visit</label>
        </rules>
        <rules>
            <name>Update_Visit_for_location_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Last_Visit.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Continue_With_Geo_Location_Update</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Update_Last_Visit_Field</targetReference>
            </connector>
            <label>Update Visit for location Update</label>
        </rules>
        <rules>
            <name>Update_Visit_For_No_location_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Last_Visit.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Continue_With_Geo_Location_Update</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Last_Visit_Field_For_No_Location_Update</targetReference>
            </connector>
            <label>Update Visit For No location Update</label>
        </rules>
        <rules>
            <name>Update_IF_There_Is_Geo_Location_Value</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordLatitude</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordLongitude</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Last_Visit_Field</targetReference>
            </connector>
            <label>Update IF There Is Geo Location Value</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Combined_date_and_Account</name>
        <dataType>String</dataType>
        <displayField>Combined_Date_and_Visit__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Visit_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Planned</stringValue>
            </value>
        </filters>
        <filters>
            <field>Approval_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Checked_In_Completed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Tour_Plans__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Tour_Plan.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Tour_Plans__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>CheckIn_CMV__Visit__c</object>
        <outputAssignments>
            <assignToReference>AccIdFromVisit</assignToReference>
            <field>CheckIn_CMV__Account__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>TourplanId</assignToReference>
            <field>Tour_Plans__c</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>calculateDistance</name>
        <dataType>Number</dataType>
        <expression>DISTANCE(
    GEOLOCATION({!Get_Current_Location.latitude}, {!Get_Current_Location.longitude}),
    GEOLOCATION({!Get_Acc_Again.Work_Location__Latitude__s}, {!Get_Acc_Again.Work_Location__Longitude__s}),
    &quot;km&quot;
)</expression>
        <scale>6</scale>
    </formulas>
    <formulas>
        <name>FormulaForComment</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Additional_Comments}),{!Additional_Comments},{!Additional_Comments})</expression>
    </formulas>
    <formulas>
        <name>FormulaForLatitude</name>
        <dataType>Number</dataType>
        <expression>IF(ISBLANK({!recordLatitude}), {!Get_Acc_Again.Work_Location__Latitude__s}, {!recordLatitude})</expression>
        <scale>4</scale>
    </formulas>
    <formulas>
        <name>FormulaForLongitude</name>
        <dataType>Number</dataType>
        <expression>IF(ISBLANK({!recordLongitude}), {!Get_Acc_Again.Work_Location__Longitude__s}, {!recordLongitude})</expression>
        <scale>4</scale>
    </formulas>
    <formulas>
        <name>isDistanceCompliant</name>
        <dataType>Boolean</dataType>
        <expression>{!varDistance} &gt;15</expression>
    </formulas>
    <interviewLabel>Visit For Tour Plan {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Visit For Tour Plan</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Visit</name>
        <label>Create Visit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>visitId</assignRecordIdToReference>
        <connector>
            <targetReference>Check_Navigation_to_Visit_Settings</targetReference>
        </connector>
        <inputAssignments>
            <field>CheckIn_CMV__Account__c</field>
            <value>
                <elementReference>AccIdFromVisit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CheckIn_CMV__Check_in_Coordinates__Latitude__s</field>
            <value>
                <elementReference>Get_Current_Location.latitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CheckIn_CMV__Check_in_Coordinates__Longitude__s</field>
            <value>
                <elementReference>Get_Current_Location.longitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CheckIn_CMV__Check_in_Date_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CheckIn_CMV__Check_in_Distance__c</field>
            <value>
                <elementReference>calculateDistance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CheckIn_CMV__Check_in_Max_Distance_Compliance__c</field>
            <value>
                <elementReference>Get_Visit_Default_Settings.CheckIn_CMV__Max_Distance__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CheckIn_CMV__Check_out_Coordinates__Latitude__s</field>
            <value>
                <elementReference>FormulaForLatitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Outcome_of_Visit__c</field>
            <value>
                <elementReference>FormulaForComment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Planned_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tour_Plans__c</field>
            <value>
                <elementReference>TourplanId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visit_Type__c</field>
            <value>
                <stringValue>Unplanned</stringValue>
            </value>
        </inputAssignments>
        <object>CheckIn_CMV__Visit__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Visit_Record</name>
        <label>Create Visit Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>visitId</assignRecordIdToReference>
        <connector>
            <targetReference>Check_Navigation_to_Visit_Settings</targetReference>
        </connector>
        <inputAssignments>
            <field>CheckIn_CMV__Account__c</field>
            <value>
                <elementReference>AccIdFromVisit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CheckIn_CMV__Check_in_Coordinates__Latitude__s</field>
            <value>
                <elementReference>Get_Current_Location.latitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CheckIn_CMV__Check_in_Coordinates__Longitude__s</field>
            <value>
                <elementReference>Get_Current_Location.longitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CheckIn_CMV__Check_in_Date_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CheckIn_CMV__Check_in_Distance__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CheckIn_CMV__Check_in_Max_Distance_Compliance__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CheckIn_CMV__Check_out_Coordinates__Latitude__s</field>
            <value>
                <elementReference>FormulaForLatitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Outcome_of_Visit__c</field>
            <value>
                <elementReference>FormulaForComment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Planned_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tour_Plans__c</field>
            <value>
                <elementReference>TourplanId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visit_Type__c</field>
            <value>
                <stringValue>Unplanned</stringValue>
            </value>
        </inputAssignments>
        <object>CheckIn_CMV__Visit__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Acc_Again</name>
        <label>Get Acc Again</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Distance</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccIdFromVisit</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Geo_location_Value_is_Blank_or_not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccIdFromVisit</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>recordName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>recordLatitude</assignToReference>
            <field>Work_Location__Latitude__s</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>recordLongitude</assignToReference>
            <field>Work_Location__Longitude__s</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Completed_Visit</name>
        <label>Get Completed Visit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Visit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Tour_Plans__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Tour_Plan.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Checked_In_Completed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Approval_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CheckIn_CMV__Visit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Last_Visit</name>
        <label>Get Last Visit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Visit_Default_Settings</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Select_Visit_For_Acc</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CheckIn_CMV__Visit__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Tour_Plan</name>
        <label>Get Tour Plan</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Completed_Visit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Approval_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>CreatedById</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Tour_Plans__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Visit_Default_Settings</name>
        <label>Get Visit Default Settings</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_For_Check_In_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Default</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CheckIn_CMV__Visit_Compliance__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Acc_Again</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccIdFromVisit</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Work_Location__Latitude__s</field>
            <value>
                <elementReference>Get_Current_Location.latitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Location__Longitude__s</field>
            <value>
                <elementReference>Get_Current_Location.longitude</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Last_Visit_Record</name>
        <label>Update Last Visit Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Visit_Id</targetReference>
        </connector>
        <inputReference>Get_Last_Visit</inputReference>
    </recordUpdates>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>displayError</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); font-size: 16px;&quot;&gt;An error has ocurred.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255); font-size: 12px; font-family: Arial, Helvetica, sans-serif;&quot;&gt;Contact your Salesforce administrator with the following error message:&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen1</name>
        <label>Screen1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Enforce_Compliance</targetReference>
        </connector>
        <fields>
            <name>isCheckInMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px; background-color: rgb(255, 255, 255);&quot;&gt;You are checking in&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Distance</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Distance: {!varDistance}km.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>nonCompliant</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;NON-COMPLIANT&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>PurposeofVisit</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Purpose of Visit--&amp;gt;&amp;gt;&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!Get_Last_Visit.Purpose_of_Visit_Fill_before_Tour__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Additional_Comments</name>
            <fieldText>Additional Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>checkIn</name>
            <extensionName>CheckIn_CMV:checkIn</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectCity</name>
                <value>
                    <elementReference>recordCity</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectCountry</name>
                <value>
                    <elementReference>recordCountry</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <elementReference>recordName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectPostalCode</name>
                <value>
                    <elementReference>recordPostalCode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectState</name>
                <value>
                    <elementReference>recordState</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectStreet</name>
                <value>
                    <elementReference>recordStreet</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>userLatitude</name>
                <value>
                    <elementReference>Get_Current_Location.latitude</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>userLongitude</name>
                <value>
                    <elementReference>Get_Current_Location.longitude</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_For_Non_Compliance</name>
        <label>Screen For Non Compliance</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Compliance_Checkbox</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_isCheckInMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px; background-color: rgb(255, 255, 255);&quot;&gt;You are checking in&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_1_of_Distance</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Distance: {!varDistance}km.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_1_of_nonCompliant</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;NON-COMPLIANT&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_1_of_PurposeofVisit</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Purpose of Visit--&amp;gt;&amp;gt;&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!Get_Last_Visit.Purpose_of_Visit_Fill_before_Tour__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_1_of_Additional_Comments</name>
            <fieldText>Additional Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>checkInnoncompliant</name>
            <extensionName>CheckIn_CMV:checkIn</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectCity</name>
                <value>
                    <elementReference>recordCity</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectCountry</name>
                <value>
                    <elementReference>recordCountry</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <elementReference>recordName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectPostalCode</name>
                <value>
                    <elementReference>recordPostalCode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectState</name>
                <value>
                    <elementReference>recordState</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectStreet</name>
                <value>
                    <elementReference>recordStreet</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>userLatitude</name>
                <value>
                    <elementReference>Get_Current_Location.latitude</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>userLongitude</name>
                <value>
                    <elementReference>Get_Current_Location.longitude</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Visit</name>
        <label>Select Visit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <fields>
            <name>Select_Visit_For_Acc</name>
            <choiceReferences>Combined_date_and_Account</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Visit</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>DataTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>CheckIn_CMV__Visit__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Check In Completed</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Completed_Visit</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Combined_Date_and_Visit__c&quot;,&quot;guid&quot;:&quot;column-6a65&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Combined Date and Account Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Combined Date and Visit&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;CheckIn_CMV__Check_in_Date_Time__c&quot;,&quot;guid&quot;:&quot;column-3e69&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Check-in Date/Time&quot;,&quot;type&quot;:&quot;customDateTime&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Warning_Messege</name>
        <label>Warning Messege</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Current_Location</targetReference>
        </connector>
        <fields>
            <name>DisplayMessege</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(231, 14, 14);&quot;&gt;This Dealer Has No Geolocation Value.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(231, 14, 14);&quot;&gt;We Are Going to Update This Geolocation Value with Your Current Location&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Continue_With_Geo_Location_Update</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Continue With Geo Location Update</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Tour_Plan</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccIdFromVisit</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isCheckIn</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>recordCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordLatitude</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>15</scale>
    </variables>
    <variables>
        <name>recordLongitude</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>15</scale>
    </variables>
    <variables>
        <name>recordName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordPostalCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TourplanId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDistance</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>6</scale>
    </variables>
    <variables>
        <name>visitId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
